<head>
    <link rel="stylesheet" href="product-details.component.css">
</head>

<body>
    <div class="container-title">Producto</div>

    <main>
        <div class="container-img">
            <img src="{{ product.imageUrl }}">
        </div>

        <div class="container-info-product">
            <div class="container-price">
                <span>{{ product.unitPrice | currency: 'Bs' }}</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-details-product">
                <div class="form-group">
                    <label for="name">Nombre del Producto</label>
                    <select name="name" id="name">
                        <option>{{ product.name }}</option>
                    </select>
                </div>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number"  placeholder="2" value="2" min="2" max="12" [(ngModel)]="numberOfFees" class="input-quantity"/>
                    <div class="btn-increment-decrement" >    
                    </div>
                </div>
                <button class="btn-add-to-cart"  (click)="addToCart()" routerLink="/checkoutOnCredit"> 
                    <i class="fa-solid fa-plus"></i>
                    Realizar Compra
                </button>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripcion</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <h6><p>{{ product.description }}</p></h6>
                </div>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Informacion de la Compra a Crédito</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                   <h6><p> Valor total de la compra: {{ (product.unitPrice  * 0.07)+ product.unitPrice }} Bs</p></h6>
                   <h6><p> Cantidad: 1</p></h6>
                   <h6><p> Total de cuotas: {{ numberOfFees }}</p></h6>

                </div>
            </div>
        </div>
    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
                        alt="producto-1"
                    />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nike - Roshe Run</h3>
                        <p class="category">Footwear, Sneakers</p>
                    </div>
                    <div class="price">$85.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                        alt="producto-2"
                    />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Common Projects Achilles</h3>
                        <p class="category">Footwear, Sneakers</p>
                    </div>
                    <div class="price">$255.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="producto-3"
                    />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Adidas - Boston Super OG</h3>
                        <p class="category">Footwear, Sneakers</p>
                    </div>
                    <div class="price">$105.00</div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img
                        src="https://images.unsplash.com/photo-1617606002779-51d866bdd1d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="producto-4"
                    />
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Common Projects Achilles</h3>
                        <p class="category">Footwear, Sneakers</p>
                    </div>
                    <div class="price">$250.00</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Footer</p>
    </footer>

    <script src="https://kit.fontawesom.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="product-details.component.ts"></script>
</body>



        <div class="card-footer">
            <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        </div>
        
 