<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="new-product.component.css">
    <title>Login & Register</title>
</head>
<body>
    <div class="container-page" id="Container">
        <div class="login-container" id="LoginContainer">
            <br>
            <h1 class="title">Crear Producto</h1>
            <br>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label class="name-input">Nombre</label>
                    <input type="text" class="input-line" id="name" name="name" 
                    [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Codigo</label>
                    <input type="text" class="input-line" id="sku" name="sku"
                    [(ngModel)]="sku" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Categoria</label>
                    <select name="category" id="lang" [(ngModel)]="category" required>
                        <option value="/product-category/1">Maquillaje</option>
                        <option value="/product-category/2">Tecnologia</option>
                      </select>

                </div>
                <div class="form-group">
                    <label class="name-input">Empresa</label>
                    <input type="text" class="input-line" id="enterprise" name="enterprise" disabled="true"
                    [(ngModel)]="enterprise" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Descripcion</label>
                    <input type="text" class="input-line" id="description" name="description"
                    [(ngModel)]="description" required>
                </div>
                <div class="form-group">
                    <label class="name-input">URL de Imagen</label>
                    <input type="text" class="input-line" id="imageUrl" name="imageUrl"
                    [(ngModel)]="imageUrl" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Precio</label>
                    <input type="number" class="input-line" id="unitPrice" name="unitPrice"
                    [(ngModel)]="unitPrice" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Unidades en Stock</label>
                    <input type="number" class="input-line" id="unitsInStock" name="unitsInStock"
                    [(ngModel)]="unitsInStock" required>
                </div>
                <button class="button-login btn-block" [disabled]="!f.valid">Crear</button>
                <button class="button-second btn-block" (click)="volver()">Volver</button>
            </form>
        </div>
    </div>
</body>
</html> 
