<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h4>Inicio de sesion exitoso</h4>
</div>
<ng-template #loggedOut>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="register-enterprises.component.css">
        <title>Login & Register</title>
    </head>
    <body>
        <div class="container-page" id="Container">
            <div class="login-container" id="LoginContainer">
                <h1 class="title">Registrar Empresa</h1>
            <br>  <br>
            <form #f="ngForm" (ngSubmit)="onRegisterEnterprise()" novalidate>
                <div class="form-group">
                    <label class="name-input">Nombre</label>
                    <input type="text" name="name" id="name" class="input-line"
                    [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Nombre de Usuario</label>
                    <input type="text" name="name" id="name" class="input-line"
                    [(ngModel)]="userName" required>
                </div>
                <div class="form-group">
                    <label class="name-input">CI</label>
                    <input type="text" name="ci" id="ci" class="input-line"
                    [(ngModel)]="ci" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Nombre de Empresa</label>
                    <input type="text" name="enterpriseName" id="enterpriseName" class="input-line"
                    [(ngModel)]="nameE" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Direccion</label>
                    <input type="text" name="address" id="address" class="input-line"
                    [(ngModel)]="address" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Número Telefonico</label>
                    <input type="text" name="phone" id="phone" class="input-line"
                    [(ngModel)]="phone" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Imagen Empresa</label>
                    <input type="text" name="imageUrl" id="imageUrl" class="input-line"
                    [(ngModel)]="image_url" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Categoria Empresa</label>
                    <select name="categoryE" id="lang" [(ngModel)]="categoryE" required>
                        <option value="2">Maquillaje</option>
                        <option value="3">Tecnologia</option>
                      </select>
                </div>
                <div class="form-group">
                    <label class="name-input">Email</label>
                    <input type="text" name="email" id="email" class="input-line"
                    [(ngModel)]="email" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Email Empresa</label>
                    <input type="text" name="email" id="email" class="input-line"
                    [(ngModel)]="mail" required>
                </div>
                <div class="form-group">
                    <label class="name-input">Contraseña</label>
                    <input type="password" name="password" id="password" class="input-line"
                    [(ngModel)]="password" required>
                </div>
                <div class="button-login btn-block">
                    <button class="button-login btn-block" [disabled]="!f.valid">Crear Cuenta</button>
                </div>

            </form>
            <p>Iniciar Sesion: <a routerLink="/login" class="gradient-text">Login</a></p>
            <p>Registrar Usuario: <a routerLink="/register" class="gradient-text">Crear Cuenta</a></p>

            <!-- <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">No autorizado</div> -->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="code.js"></script>

</body>
</html> 

</ng-template>

