<div class="container">
    <h3>Deudas</h3>

         <div> 
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Imagen del Producto</th>
                        <th scope="col">Número de Segumiento</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Nro de Cuotas</th>
                        <th scope="col">Nro de Cuotas Pagadas</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Precio Total</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Fecha ultimo pago</th>
                        <th scope="col">Puntuacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tempDebtsHistory of debtsHistoryList">
                        <td> <img src="{{tempDebtsHistory.imageUrl}}" width="150" height="150"/></td>
                        <td>{{tempDebtsHistory.orderTrackingNumber}}</td>
                        <td>{{tempDebtsHistory.totalQuantity}}</td>
                        <td>{{tempDebtsHistory.numberOfFeesToPay}}</td>
                        <td>{{tempDebtsHistory.numberOfFeesPaid}}</td>
                        <td>{{tempDebtsHistory.payment | currency: 'Bs'}}</td>
                        <td>{{tempDebtsHistory.unitPrice | currency: 'Bs'}}</td>
                        <td>{{tempDebtsHistory.dateCreated  | date: 'medium'}}</td>
                        <td>{{tempDebtsHistory.lastUpdated | date: 'medium'}}</td>
                        <td><igc-rating class="custom-rating" [value]="ratingVal" [min]="1" [max]="5" [disabled]="true" (valueChange)="ratingChanged($event)"></igc-rating>

                        <p>Puntuación actual: {{ ratingVal }}</p></td>
                        
                        <!-- <td><igc-rating class="custom-rating" value="ratingVal" min="1" max="5"></igc-rating></td> -->

                    </tr>
                </tbody>
            </table>
          </div>

          <!-- (igcChange)="ratingChanged($event);"   metodo para emplear el rating en el sistema -->

        <!-- si el historial de deudas esta vacio, desplegar mensaje -->
    <!-- <div *ngIf="debtsHistoryList.length== 0" class="alert alert-warning col-md-12" role="alert">
        No se encontraron deudas.
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
    </div> -->
</div>

