<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Imagen del Producto</th>
                        <th width="50%">Detalle del Producto</th>
                        <th width="30%"></th>
                    </tr>

                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.name }}</p>
                            <p>{{ tempCartItem.unitPrice | currency: 'Bs'}}</p>
                        </td>
                        <td>
                            <div class="items">
                                <label>Cantidad:</label>

                                <div class="row no-guntters">
                                    <div class="col">
                                        <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col ml-4 mr-2">
                                        {{ tempCartItem.quantity }}
                                    </div>
                                    
                                    <div class="col">
                                        <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                       
                                    <div class="col-8"></div>    

                                </div>
                            </div>

                            <button (click)="remove(tempCartItem)" class="btn btn-info btn-sm mt-2">Eliminar</button>

                            <p class="mt-2">SubTotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'Bs ' }}</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold">
                            <p>Cantidad Total: {{ totalQuantity }}</p>
                            <p>Precio Total: {{ totalPrice | currency: 'Bs ' }}</p>
                            <a routerLink="/checkout" class="btn btn-info">Realizar Pago</a>
                        </td>                   
                    </tr>
                </table>

            </div>

            <!-- si el carrito esta vacio, desplegar un mensaje-->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                Tu carrito de compras esta vacio.
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>

        </div>
    </div>
</div>

