<div class="container">
    <h3>Tus Deudas</h3>

         <div *ngIf="debtsHistoryList.length > 0"> 
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Imagen del Producto</th>
                        <th scope="col">Número de Segumiento</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Nro de Cuotas</th>
                        <th scope="col">Nro de Cuotas Pagadas</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Precio Total</th>
                        <th scope="col">Pagar</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Fecha ultimo pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tempDebtsHistory of debtsHistoryList">
                        <td>{{tempDebtsHistory.orderTrackingNumber}}</td>
                        <td>{{tempDebtsHistory.totalQuantity}}</td>
                        <td>{{tempDebtsHistory.numberOfFeesToPay}}</td>
                        <td>{{tempDebtsHistory.numberOfFeesPaid}}</td>
                        <td>{{tempDebtsHistory.totalPrice}}</td>
                        <td>{{tempDebtsHistory.totalPriceOnCredit}}</td>
                        <td>{{tempDebtsHistory.dateCreated}}</td>
                        <td>{{tempDebtsHistory.lastUpdated}}</td>
                        <td><button class="btn btn-outline-success" routerLink="/editar"><i class="far fa-edit"></i> Editar</button></td>
                    </tr>
                </tbody>
            </table>
          </div>

        <!-- si el historial de deudas esta vacio, desplegar mensaje -->
    <div *ngIf="debtsHistoryList.length== 0" class="alert alert-warning col-md-12" role="alert">
        No se encontraron deudas.
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
</div>

