<!--<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h4>Inicio de sesion exitoso</h4>
</div>
<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/record">Registrarse</a>
                    </li>

                </ul>
            </div>
            <div class="card-body"></div>

        </div>
    </div>
</ng-template>
-->
