<div class="login-status-header">    
    <li class="nav-item"  *ngIf="!isLogged">
        <div *ngIf ="isLogged" class="login-status-user-info">
            Bienvenido
    </div>
    <button routerLink="/login" class= "session" style="cursor: pointer;">
        <a><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</a>
    </button>
    </li>
    <button (click)= "onLogOut()"  *ngIf="isLogged" class= "session" style="cursor: pointer;">
        <a><i class="fas fa-door-open"></i> Cerrar Sesión</a>
    </button>
</div>

