#card-element .StripeElement {
    border: 1px solid #cfd7df;
    border-radius: 4px;
    padding: 10px 12px;
    height: 40px;
  }
  
  #card-element .StripeElement--focus {
    border-color: #0366d6;
  }
  
  #card-element .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  #card-number::before {
    content: '•••• ';
  }
  
  #card-number::after {
    content: ' •••• •••• ••••';
  }
  
  .button-login{
    width: 30%;
    height: 45px;
    border-radius: 55px;
    background: #437f79;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button-second{
    width: 30%;
    height: 45px;
    border-radius: 55px;
    background: #1d5167;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}