<div class="main-content page-m">
    
    <div class="section-content section-content-p30">
        
        <div class="container-fluid">

             <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit">

                <!--grupo del formulario para el cliente-->
                
                <div formGroupName="customer" class="form-area">

                    <h3>Cliente</h3>
                    <div class="row">
                        <div class="col-md-2"> <label>Nombre de Usuario</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="userName" type="text" readonly>

                                    <div *ngIf="userName.errors?.['required']">
                                        Se requiere el Nombre de Usuario 
                                    </div>
     
                            </div>
                        </div>
                    </div>
                </div>

                <!--direccion de envio-->
                <div formGroupName="shippingAddress" class="form-area">

                    <h3>Direccion de envio</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Calle</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                          
                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressStreet.errors?.['required'] || shippingAddressStreet.errors?.['notOnlyWhitespace']">
                                        Se requiere la calle
                                    </div>

                                    <div *ngIf="shippingAddressStreet.errors?.['minlength']">
                                        Se requiere al menos 2 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Ciudad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCity.errors?.['required'] || shippingAddressCity.errors?.['notOnlyWhitespace']">
                                        Se requiere la ciudad
                                    </div>

                                    <div *ngIf="shippingAddressCity.errors?.['minlength']">
                                        Se requiere al menos 2 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
     
 
                    <div class="row">
                        <div class="col-md-2"> <label>Codigo Postal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressZipCode.errors?.['required'] || shippingAddressZipCode.errors?.['notOnlyWhitespace']">
                                        Se requiere el codigo postal
                                    </div>

                                    <div *ngIf="shippingAddressZipCode.errors?.['minlength']">
                                        Se requiere al menos 2 caracteres
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--informacion de tarjeta de credito-->  

                <!-- Elementos de Stripe para la seccion de tarjetas-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Tarjeta de credito o Debito</h3>

                    <div id="card-element">
                        <!--Los elementos de stripe se insertaran aca-->
                    </div>

                    <!--Para desplegar algunos errores-->
                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1' ">

                    </div>
                </div>

                <!--Detalles de orden-->
                <div class="form-area">
                    <h3>Vista de la orden</h3>

                    <p>Cantidad Total: {{ totalQuantity }}</p>
                    <p>Numero de cuotas mensuales: {{ monthlyFeesToPay }}</p>
                    <p>Numero de cuotas mensuales pagadas: {{ monthlyFeesPaid}}</p>
                    <p>Primer Pago: {{ payment | currency: 'Bs ' }}</p>
                    <p>Precio Total: {{ totalPriceOnCredit | currency: 'Bs ' }}</p>
                    <p>Precio Total a Credito: {{ unitPrice | currency: 'Bs ' }}</p>
                </div>

                <!--boton para enviar-->  
                <div class="text-center">
                    <button type="submit" class="button-login" [disabled]="isDisabled" (click)="onSubmit()">Comprar</button>

                    <div class="card-footer">
                        <button class="button-second" (click)="volver()"> Volver</button>
                    </div>
                    
                </div>  
            </form> 

        </div>
    </div>
</div>

